.mainChat
  .mainChat__groupInfo
    .mainChat__groupInfo__group
      .mainChat__groupInfo__group__name
        = @group.name
      %ul.mainChat__groupInfo__group__memberList
        Member：
        - @group.users.each do |user|
          %li.mainChat__groupInfo__group__memberList__member
            = user.name

    = link_to edit_group_path(@group.id), class: "mainChat__groupInfo__editButton" do
      Edit
  .mainChat__messageList
    .MessageField
    = render @messages

  .mainChat__messageForm
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form__contents
        = f.text_field :content, class: 'form__contents__inputMessage', placeholder: 'type a message'
        = f.label :image, class: 'form__contents__inputImage' do
          = icon('far', 'image', class: 'form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'form__submit'
